
@font-face {
    font-family: 'Vazir';
    src: url('fonts/Vazir.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Vazir', sans-serif;
    direction: rtl;
    background: #f7f7f7;
    padding: 2rem;
    color: #333;
}
